<!DOCTYPE html>
<html>
<head>
		  <title>Mobility Radar</title>
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
          <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        <style>
        .container {
            align: center;
            text-align: center;
        }
        </style>
    </head>
<body>
	{% block container %}
	<div class="container">
		<br><br>
		<button class="btn btn-secondary" onclick="getLocation()">Get Services Available in Current Location</button>
		<br>
		<button class="btn btn-info" onclick="showRegions()">Show regions of connectivity</button>
	</div>
	
	<script type="text/javascript">
		function getLocation() {
			if (navigator.geolocation) {
	    		navigator.geolocation.getCurrentPosition(sendLocation);
	  		}
	  		else {
	  			window.alert("Location is either disabled or not supported.");
	  		}
		}

		function sendLocation(pos) {
			window.alert("Processing Current Location");
			window.location = "/locations/" + pos.coords.latitude +"/" + pos.coords.longitude;
		}

		function showRegions() {
			window.alert("Showing regions of service in Cosmos DB");
			window.location = "/regions";	
		}
	</script>
{% endblock %}
</body>
</html>