<!DOCTYPE html>
<html>
    <head>
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
          <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        <style>
        .container {
            align: center;
            text-align: center;
        }
        </style>
    </head>
    <body>
        {% block content %}
        <div class="container">
            
          <h1>Radar results</h1>
          <br>
          
          
          
          <strong>Detected Location</strong>
          <p>{{ result["cur_location"]["address"] }}</p>                                                                                      
          <br>
              <div class="table-responsive">          
                  <table class="table">
                        <thead>
                              <tr>
                                    <th>Service</th>
                                    <th>Nearest Point</th>
                              </tr>
                        </thead>
                        <tbody>
                          {% for service in result["services"] %}
                          <tr>
                                <td>
                                    <a href="https://play.app.goo.gl/?link=https://play.google.com/store/apps/details?id={{ result['services'][service]['play_store_id'] }}">
                                      <img src="{{ result['services'][service]['img_url'] }}" style="width:45%;height:auto;"/>
                                    </a>
                                </td>
                                <td>
                                    <a href="https://www.google.com/maps/search/?api=1&query={{result['services'][service]['location']['latitude']}},{{result['services'][service]['location']['longitude']}}">
                                    <img src="https://image.flaticon.com/icons/svg/2150/2150467.svg" style="width:45%;height:auto;"/>
                                    </a>
                                </td>
                          </tr>
                          {% endfor %}
                        </tbody>
                  </table>
              </div>
        </div>
        {% endblock %}
    </body>
</html>
